README.md export-ignore
pyproject.toml export-ignore
MANIFEST.in export-ignore
.gitattributes export-ignore
docs/ export-ignore
C:\Users\farre\.gemini\antigravity\brain\617a5089-ddfe-46fb-aec7-42b270ace81e\task.md export-ignore
C:\Users\farre\.gemini\antigravity\brain\617a5089-ddfe-46fb-aec7-42b270ace81e\walkthrough.md export-ignore
C:\Users\farre\.gemini\antigravity\brain\617a5089-ddfe-46fb-aec7-42b270ace81e\implementation_plan.md export-ignore
